In [39]:
import pandas as pd
import numpy as np

In [40]:
data=pd.read_csv('../data/job_train.csv')
print("shape")
data.shape

shape

(17880, 8)

In [41]:
data.head(3)

,title,location,description,requirements,telecommuting,has_company_logo,has_questions,fraudulent
0,Marketing Intern,"US, NY, New York","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,0,1,0,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,0,1,0,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever","Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,0,1,0,0

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             17880 non-null  object
 1   location          17534 non-null  object
 2   description       17879 non-null  object
 3   requirements      15185 non-null  object
 4   telecommuting     17880 non-null  int64
 5   has_company_logo  17880 non-null  int64
 6   has_questions     17880 non-null  int64
 7   fraudulent        17880 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.1+ MB

In [43]:
data.isnull().sum()

title                  0
location             346
description            1
requirements        2695
telecommuting          0
has_company_logo       0
has_questions          0
fraudulent             0
dtype: int64

In [44]:
data[["location","description","requirements"]].head(20)

,location,description,requirements
0,"US, NY, New York","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...
1,"NZ, , Auckland",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...
2,"US, IA, Wever","Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...
3,"US, DC, Washington",THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi..."
4,"US, FL, Fort Worth",JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...
5,"US, MD,",Job OverviewApex is an environmental consultin...,NaN
6,"DE, BE, Berlin",Your Responsibilities: Manage the English-spea...,Your Know-How: ...
7,"US, CA, San Francisco",Who is Airenvy?Hey there! We are seasoned entr...,"Experience with CRM software, live chat, and p..."
8,"US, FL, Pensacola",Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...
9,"US, AZ, Phoenix",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 6 months custo...
10,"US, NJ, Jersey City",Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Position : #URL_86fd830a95a64e2b30ceed829e63fd...
11,"GB, LND, London",TransferWise is the clever new way to move mon...,We’re looking for someone who:Proven track rec...
12,"US, CT, Stamford","The Applications Developer, Digital will devel...",Requirements:4 – 5 years’ experience in develo...
13,"US, FL, Orlando","Event Industry Installers Needed!! (Orlando, F...","Valid driver's license,Somewhat Clean driving ..."
14,"AU, NSW, Sydney",Are you interested in a satisfying and financi...,You’ll need to be smart and passionate and hav...
15,"SG, 01, Singapore",About Vault Dragon Vault Dragon is Dropbox for...,Key Superpowers3-5 years of high-pressure sale...
16,"IL, , Tel Aviv, Israel",We are looking for a Hands-On QA Leader for ou...,Previous experience in client &amp; server tes...
17,"GB, SOS, Southend-on-Sea",Government funding is only available for 16-18...,16-18 year olds only due to government funding...
18,"US, NY, New York",Kettle is hiring a Visual Designer!Job Locatio...,NaN
19,"US, PA, USA Northeast",Experienced Process Controls Engineer is requi...,Must have 5 or more years of experience with D...

In [45]:
data.describe()

       telecommuting  has_company_logo  has_questions    fraudulent
count   17880.000000      17880.000000   17880.000000  17880.000000
mean        0.042897          0.795302       0.491723      0.048434
std         0.202631          0.403492       0.499945      0.214688
min         0.000000          0.000000       0.000000      0.000000
25%         0.000000          1.000000       0.000000      0.000000
50%         0.000000          1.000000       0.000000      0.000000
75%         0.000000          1.000000       1.000000      0.000000
max         1.000000          1.000000       1.000000      1.000000

In [46]:
#X=data.drop('fraudulent',axis=1)

In [47]:
#X.head()

In [48]:
Y=data['fraudulent']

In [49]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: fraudulent, dtype: int64

In [50]:
data_withoutNaN=data.dropna()

In [51]:
data_withoutNaN.isnull().sum()

title               0
location            0
description         0
requirements        0
telecommuting       0
has_company_logo    0
has_questions       0
fraudulent          0
dtype: int64

In [52]:
data_withoutNaN.head(5)

,title,location,description,requirements,telecommuting,has_company_logo,has_questions,fraudulent
0,Marketing Intern,"US, NY, New York","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,0,1,0,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,0,1,0,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever","Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,0,1,0,0
3,Account Executive - Washington DC,"US, DC, Washington",THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",0,1,0,0
4,Bill Review Manager,"US, FL, Fort Worth",JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,0,1,1,0

In [53]:
data_withoutNaN.reset_index(inplace=True)

In [54]:
data_withoutNaN.head(2)

,index,title,location,description,requirements,telecommuting,has_company_logo,has_questions,fraudulent
0,0,Marketing Intern,"US, NY, New York","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,0,1,0,0
1,1,Customer Service - Cloud Video Production,"NZ, , Auckland",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,0,1,0,0

In [55]:
data['text']= data['title']+' '+data['location']+' '+data['description']+' '+data['requirements']
#data=data.drop('title',axis=1)
#data=data.drop('description',axis=1)
#data=data.drop('requirements',axis=1)

In [56]:
data.head()

,title,location,description,requirements,telecommuting,has_company_logo,has_questions,fraudulent,text
0,Marketing Intern,"US, NY, New York","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,0,1,0,0,"Marketing Intern US, NY, New York Food52, a fa..."
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,0,1,0,0,"Customer Service - Cloud Video Production NZ, ..."
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever","Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, IA..."
3,Account Executive - Washington DC,"US, DC, Washington",THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",0,1,0,0,"Account Executive - Washington DC US, DC, Wash..."
4,Bill Review Manager,"US, FL, Fort Worth",JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,0,1,1,0,"Bill Review Manager US, FL, Fort Worth JOB TIT..."

In [57]:
data=data.drop(['title','description','requirements','location'],axis=1)

In [58]:
data.head()

,telecommuting,has_company_logo,has_questions,fraudulent,text
0,0,1,0,0,"Marketing Intern US, NY, New York Food52, a fa..."
1,0,1,0,0,"Customer Service - Cloud Video Production NZ, ..."
2,0,1,0,0,"Commissioning Machinery Assistant (CMA) US, IA..."
3,0,1,0,0,"Account Executive - Washington DC US, DC, Wash..."
4,0,1,1,0,"Bill Review Manager US, FL, Fort Worth JOB TIT..."

In [59]:
#data.head()
data=data.drop('has_questions',axis=1)
data.head()

,telecommuting,has_company_logo,fraudulent,text
0,0,1,0,"Marketing Intern US, NY, New York Food52, a fa..."
1,0,1,0,"Customer Service - Cloud Video Production NZ, ..."
2,0,1,0,"Commissioning Machinery Assistant (CMA) US, IA..."
3,0,1,0,"Account Executive - Washington DC US, DC, Wash..."
4,0,1,0,"Bill Review Manager US, FL, Fort Worth JOB TIT..."

In [60]:
data['has_company_logo'].replace({1:"false",0:"true"},inplace=True)
data.head(2)
data['fraudulent'].replace({1:"fake",0:"real"},inplace=True)
data.head(2)

,telecommuting,has_company_logo,fraudulent,text
0,0,false,real,"Marketing Intern US, NY, New York Food52, a fa..."
1,0,false,real,"Customer Service - Cloud Video Production NZ, ..."

In [61]:
import gensim
from gensim.utils import tokenize

In [62]:
#tokenize(data['text'])

In [63]:
data.fraudulent.value_counts()

real    17014
fake      866
Name: fraudulent, dtype: int64

In [64]:
data['text']=data['text']+' '+data['has_company_logo']
data.head(3)

,telecommuting,has_company_logo,fraudulent,text
0,0,false,real,"Marketing Intern US, NY, New York Food52, a fa..."
1,0,false,real,"Customer Service - Cloud Video Production NZ, ..."
2,0,false,real,"Commissioning Machinery Assistant (CMA) US, IA..."

In [65]:
data=data.drop('has_company_logo',axis=1)
data.head(3)

   telecommuting fraudulent                                               text
0              0       real  Marketing Intern US, NY, New York Food52, a fa...
1              0       real  Customer Service - Cloud Video Production NZ, ...
2              0       real  Commissioning Machinery Assistant (CMA) US, IA...

In [66]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [67]:
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['fraudulent'],test_size=0.3,random_state=7,shuffle=True)
#print(x_train)

In [68]:
tfidf=TfidfVectorizer(stop_words='english',max_df=0.75)
print(tfidf)

TfidfVectorizer(max_df=0.75, stop_words='english')

In [69]:
#vector_for_train=tfidf.fit_transform(x_train.values.encode(utf-8))
#this expects a unicode string

In [70]:
vector_for_train=tfidf.fit_transform(x_train.astype('U'))
#print(vector_for_train)
vector_for_testing=tfidf.transform(x_test.astype('U'))
print(vector_for_testing)

  (0, 37825)	1.0
  (1, 67540)	0.08012946546641582
  (1, 67323)	0.021778259344400024
  (1, 67126)	0.035463665926599226
  (1, 67043)	0.054316129319898425
  (1, 66922)	0.04082691895937536
  (1, 66884)	0.06235789556089848
  (1, 66697)	0.03451060550660718
  (1, 66562)	0.05087782962766633
  (1, 65933)	0.05116048062594592
  (1, 65753)	0.06866403144704071
  (1, 65308)	0.047475877688269906
  (1, 65256)	0.025308333590378474
  (1, 64880)	0.042777785944545135
  (1, 64811)	0.12203639850008914
  (1, 64712)	0.02782325040757403
  (1, 63748)	0.05106523011953652
  (1, 63488)	0.05437297256250269
  (1, 62802)	0.05106523011953652
  (1, 62778)	0.03909160841866095
  (1, 62199)	0.037210707622286336
  (1, 61882)	0.02612371256230998
  (1, 61467)	0.03751292145587507
  (1, 61405)	0.09982835683151693
  (1, 60610)	0.040012955186627966
  :	:
  (5363, 10131)	0.08322266372728386
  (5363, 9954)	0.059282231789169575
  (5363, 9238)	0.04956435761063768
  (5363, 9198)	0.10718430507284157
  (5363, 8774)	0.05352814313760027
  (5363, 8633)	0.08893979252922682
  (5363, 8393)	0.02968347501694987
  (5363, 5980)	0.06511082500208372
  (5363, 5471)	0.07263901298075137
  (5363, 5466)	0.05778275882750062
  (5363, 5348)	0.0483502596915723
  (5363, 5199)	0.10803912282303176
  (5363, 4240)	0.042938966124791034
  (5363, 3966)	0.08517060761525991
  (5363, 3960)	0.06900032452253803
  (5363, 3311)	0.10420480996621213
  (5363, 2956)	0.07998562402579218
  (5363, 2560)	0.05939369620014076
  (5363, 2302)	0.06593158750687235
  (5363, 1927)	0.21192109669910073
  (5363, 1675)	0.05092358239536999
  (5363, 1658)	0.06670877924746396
  (5363, 1578)	0.11615185770121005
  (5363, 1418)	0.15222632665517155
  (5363, 579)	0.07329836204274574

In [71]:
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
predictions = []
pred_proba = []
tree=DecisionTreeClassifier(max_depth = 30) 
tree.fit(vector_for_train, y_train) 
predictions = tree.predict(vector_for_testing)
pred_proba = tree.predict_proba(vector_for_testing)
tree.score(vector_for_testing,y_test)
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

        fake       0.70      0.55      0.61       273
        real       0.98      0.99      0.98      5091

    accuracy                           0.96      5364
   macro avg       0.84      0.77      0.80      5364
weighted avg       0.96      0.96      0.96      5364

In [34]:
classifier_model = DecisionTreeClassifier()

In [35]:
classifier_model.fit(vector_for_train,y_train)

DecisionTreeClassifier()

In [36]:
pred_proba=classifier_model.predict(vector_for_testing)

In [37]:
print(pred_proba)

['real' 'real' 'real' ... 'real' 'real' 'real']

In [38]:
from sklearn.metrics import classification_report, accuracy_score
print(f"Test Set Accuracy : {accuracy_score(y_test, pred_proba) * 100} %\n\n")

Test Set Accuracy : 96.4951528709918 %